*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navigation{
    background-color: green;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li{
    margin-left: 10px;
}
